<h3 class="text-center medical">Aheri Care Services</h3>

<div class="container-full">
    <div class="section--light-grey">
        <div class="container--mw1320">
            <div class="list">
                <div class="discovery col-md-6 col-sm-12" *ngFor="let service of service ">
                    <div class="blog-cta">
                        <a [routerLink]="['/blog/blog-details/',service.id]" class="content">
                            <div class="blog-cta__image">
                                <img src="{{service.image}}" alt="">
                            </div>
                            <div class="blog-cta__text">
                                <div class="blog-cta__onscreen">
                                    <p class="blog-cta__heading">{{service.name}}</p>
                                </div>
                                <div class="blog-cta__offscreen">
                                    <p class="blog-cta__description">{{service.paragrapagh1}}</p>
                                    <a [routerLink]="['/services/service-details/',service.id]" class="btn text-cta"><i class="fa-solid fa-angles-right"></i> Read more</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>