.medical{
    margin-top: 10%;
    font-size: 40px;
    color: #132540;
}

.container-full{
    background-color: #fff;
}

.section--light-grey {
    background-color: #fff;
}
.container--mw1320 {
    max-width: 1320px!important;
    position: relative!important;
    padding:55px 20px;
    margin: 0 auto;
    max-width: 1320px!important;
}

.list{
    max-width: none;
    display: flex;
    flex-wrap: wrap;
}

.discovery{
    margin: 10px 10px;
    padding: 0;
    width: 46%;
}

.blog-cta {
    position: relative;
    background-color: #58595b;
    overflow: hidden;
}

.blog-cta>.content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
    color: inherit;
    text-decoration: none;
}

.blog-cta__image {
    position: relative;
    z-index: -1;
    height: 60vh;
    transform: scale(1);
    transition: transform .8s linear;
}

.blog-cta__image>img {
    font-family: object-fit\:cover;
    object-fit: cover;
    width: 100%;
    height: 60vh;
}

.blog-cta__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255,255,255,.7);
    padding: 22px 28px;
    transition: background-color 2s cubic-bezier(.19,1,.22,1);
    width: 50%;
    float: left;
}

.blog-cta__onscreen {
    margin: 40% 0;
    transition: transform 2s cubic-bezier(.19,1,.22,1);
    transform: translateY(35px);
}

.blog-cta__text:hover>.blog-cta__onscreen{
    transition: transform 2s cubic-bezier(.19,1,.22,1),opacity 2s cubic-bezier(.19,1,.22,1);
    transform: translateY(25px);
    margin: 0;
}

.blog-cta__heading {
    display: block;
    color: #811750;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.blog-cta__offscreen {
    visibility: hidden;
}

.blog-cta__text:hover>.blog-cta__offscreen{
    transition: transform 2s cubic-bezier(.19,1,.22,1),opacity 2s cubic-bezier(.19,1,.22,1);
    transform: translateY(25px);
    visibility: visible;
    margin-top: 10%;
}

.blog-cta__description{
    color: #333;
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: .05em;
}

.text-cta {
    padding: 0.85em 0;
    position: relative;
    display: block;
    color: #811750;
    text-decoration: none;
    transition: transform .4s;
    transform: translateX(0);
    font-size: .875em;
    font-weight: 800;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .3em;
}

@media only screen and (max-width: 850px) {

    .medical{
        margin-top: 15%;
        font-size: 40px;
        color: #132540;
    }

    .container--mw1320 {
        position: relative!important;
        padding:0 20px;
        margin: 0 auto;
    }
    
    .discovery{
        margin-top: 5%;
        padding: 0;
        width: 100%;
    }

    .blog-cta__image {
        position: relative;
        z-index: -1;
        height: auto;
        transform: scale(1);
        transition: transform .8s linear;
    }
    
    .blog-cta__image>img {
        font-family: object-fit\:cover;
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .blog-cta__onscreen {
        margin: 20%;
        transition: transform 2s cubic-bezier(.19,1,.22,1);
        transform: translateY(35px);
    }

    .blog-cta__text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        padding: 22px 28px;
        transition: background-color 2s cubic-bezier(.19,1,.22,1);
        width: 50%;
        float: left;
    }
    
    .blog-cta__text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: none;
        padding: 22px 28px;
        transition: background-color 2s cubic-bezier(.19,1,.22,1);
        width: 100%;
        float: left;
    }

    .blog-cta__heading {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .3em;
    }

    .blog-cta__description{
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: .05em;
    }
    
    .text-cta {
        padding: 0.85em 0;
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
        transition: transform .4s;
        transform: translateX(0);
        font-size: .875em;
        font-weight: 800;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .3em;
    }

    
}

@media only screen and (max-width: 500px) {

    .medical{
        margin-top: 25%;
        font-size: 20px;
        color: #132540;
    }

    .container--mw1320 {
        position: relative!important;
        padding:0 20px;
        margin: 0 auto;
    }

    .discovery{
        margin: 5% 0;
        padding: 0;
        width: 100%;
    }

    .blog-cta__image {
        position: relative;
        z-index: -1;
        height: auto;
        transform: scale(1);
        transition: transform .8s linear;
    }
    
    .blog-cta__image>img {
        font-family: object-fit\:cover;
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .blog-cta__text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        padding: 22px 28px;
        transition: background-color 2s cubic-bezier(.19,1,.22,1);
        width: 50%;
        float: left;
    }

    .blog-cta__onscreen {
        margin: 20%;
        transition: transform 2s cubic-bezier(.19,1,.22,1);
        transform: translateY(35px);
    }

    .blog-cta__description{
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: .05em;
    }

    .blog-cta__heading {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .3em;
    }
    
    .blog-cta__text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: none;
        padding: 10px 28px;
        transition: background-color 2s cubic-bezier(.19,1,.22,1);
        width: 100%;
        float: left;
    }

    .blog-cta__heading {
        font-size: .5em;
    }

    .blog-cta__title {
        font-size: .6em;
    }

    .text-cta {
        padding: 0.85em 0;
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
        transition: transform .4s;
        transform: translateX(0);
        font-size: .875em;
        font-weight: 800;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .3em;
    }
}
