 /* start of footer  */
 footer {
    border-top: 1px solid #d3d5d9;
    padding-bottom: 1% !important;
    background-color: #DAEAF1;
  }
  
   footer .container-fluid .row .footer__grp ul{
    text-decoration: none;
    list-style-type: none;
  }
  .footer__title{
    text-align: center;
    font-weight: 900;
    font-size: 17px;
    color: #811750;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 15px;
    padding-left: 15px;
  }
  .footer__grp{
    display: block;
    align-items: start;
  }
  footer li a {
    font-size: larger;
    color: #132540;
    font-weight: 500;
    text-decoration: none;
  }
  footer li a:hover{
    color: #811750;
    text-decoration: none;
  }
  .footer__title:hover{
    color: #132540;
    text-decoration: none;
  }
  .SOCIAL{
    margin-top: 1rem;
  }
  .icons{
    margin-top: 5%;
  }
  .icons a{
    margin: 0px 5px;
    display: inline;
    font-size: x-large;
  }
  footer .row{
    text-align: center;
  }
  @media only screen and (max-width: 993px){
    .serviceBox2{
      padding: 1rem .5rem;
      margin-left: 1rem;
    }
    .serviceBox4{
      padding: 1rem .5rem;
      margin-left: 1rem;
    }
    .services {
      margin: 1rem 1rem;
    }
    .leftSection .text{
      margin-top: 3rem;
    }
    .lazyloaded {
      margin: .5rem 4rem;
    }
    .footer__grp{
      float: none;
    }
  }