  <div class="pg-footer">
    <footer class="footer">
      <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
        <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
      </svg>
      <div class="footer-content">
        <div class="footer-content-column">
          <div class="footer-menu">
            <h2 class="footer-menu-name"> QUICK LINKS</h2>
            <ul id="menu-get-started" class="footer-menu-list">
              <li class="menu-item menu-item-type-post_type menu-item-object-product">
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="footer__links">Home</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-product">
                <a [routerLink]="['shop']" routerLinkActive="active" ariaCurrentWhenActive="page" class="footer__links">Shop</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-product">
                <a [routerLink]="['services']" routerLinkActive="active" ariaCurrentWhenActive="page" class="footer__links">Services</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-product">
                <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page" class="footer__links">About Us</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-product">
                <a routerLink="contact-us" routerLinkActive="active" ariaCurrentWhenActive="page" class="footer__links">Contact Us</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="footer-content-column">
          <div class="footer-menu">
            <h2 class="footer-menu-name"> SERVICES</h2>
            <ul id="menu-quick-links" class="footer-menu-list">
              <li class="menu-item menu-item-type-custom menu-item-object-custom">
                <a [routerLink]="['services']" class="footer__links">Community</a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom">
                <a [routerLink]="['services']" class="footer__links">Home Nursing</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a [routerLink]="['services']" class="footer__links">Physiotherapy</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a [routerLink]="['services']" class="footer__links">Colostomy Care</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a [routerLink]="['services']" class="footer__links">Nutrition Counselling</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-content-column">
          <div class="footer-menu">
            <h2 class="footer-menu-name">PRODUCT CATEGORIES</h2>
            <ul id="menu-company" class="footer-menu-list"  *ngFor="let cat of category">
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a class="footer__links" [routerLink]="['/categoryproducts', cat.id]">{{ cat.name }}</a>
              </li>
            </ul>
          </div>
          <div class="footer-menu">
            <h2 class="footer-menu-name"> PHYSICAL ADDRESS</h2>
            <ul id="menu-legal" class="footer-menu-list">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-170434">
                <a class="footer__links" href="https://www.google.com/maps/dir//Mayfair+Maisonettes+PRP4%2BG8M+Mayfair+Maisonettes,+Mpaka+Rd+Nairobi/@-1.2636825,36.8058291,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x182f17fba6d27d87:0x28c0d21b430dbacd!2m2!1d36.8058291!2d-1.2636825">Mayfair Maisonnettes,</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a class="footer__links" href="https://www.google.com/maps/dir//Mayfair+Maisonettes+PRP4%2BG8M+Mayfair+Maisonettes,+Mpaka+Rd+Nairobi/@-1.2636825,36.8058291,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x182f17fba6d27d87:0x28c0d21b430dbacd!2m2!1d36.8058291!2d-1.2636825">Mpaka Road, Westlands</a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="footer-content-column ">
          <div class="footer-call-to-action">
            <h2 class="footer-call-to-action-title"> Let's Chat</h2>
            <p class="footer-call-to-action-description"> Have a support question?</p>
            <a class="footer-call-to-action-button button" href="https://wa.me/+254742964456?text=Hello%2C%20how%20are%20you%3F%0A%20I%20need%20help%20with......" target="_blank"> Get in Touch </a>
          </div>
          <div class="footer-call-to-action">
            <h2 class="footer-call-to-action-title"> You Call Us</h2>
            <p class="footer-call-to-action-link-wrapper"> <a href="tel:+254742964456" class="footer__links">0742964456</a></p>
          </div>
        </div>
        <div class="footer-social-links"> <svg class="footer-social-amoeba-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236 54">
            <path class="footer-social-amoeba-path" d="M223.06,43.32c-.77-7.2,1.87-28.47-20-32.53C187.78,8,180.41,18,178.32,20.7s-5.63,10.1-4.07,16.7-.13,15.23-4.06,15.91-8.75-2.9-6.89-7S167.41,36,167.15,33a18.93,18.93,0,0,0-2.64-8.53c-3.44-5.5-8-11.19-19.12-11.19a21.64,21.64,0,0,0-18.31,9.18c-2.08,2.7-5.66,9.6-4.07,16.69s.64,14.32-6.11,13.9S108.35,46.5,112,36.54s-1.89-21.24-4-23.94S96.34,0,85.23,0,57.46,8.84,56.49,24.56s6.92,20.79,7,24.59c.07,2.75-6.43,4.16-12.92,2.38s-4-10.75-3.46-12.38c1.85-6.6-2-14-4.08-16.69a21.62,21.62,0,0,0-18.3-9.18C13.62,13.28,9.06,19,5.62,24.47A18.81,18.81,0,0,0,3,33a21.85,21.85,0,0,0,1.58,9.08,16.58,16.58,0,0,1,1.06,5A6.75,6.75,0,0,1,0,54H236C235.47,54,223.83,50.52,223.06,43.32Z"></path>
          </svg>
          <a class="footer-social-link linkedin" href="#" target="_blank">
            <span class="hidden-link-text">Linkedin</span>
            <a class="fa-brands fa-linkedin" target="_blank" href="https://www.linkedin.com/company/aheri-care"
                  rel="nofollow"></a>
          </a>
          <a class="footer-social-link twitter" href="#" target="_blank">
            <span class="hidden-link-text">Twitter</span>
            <a class="fa-brands fa-twitter" target="_blank" href="https://twitter.com/AheriCare"
                  rel="nofollow"></a>
          </a>
          <a class="footer-social-link facebook" href="#" target="_blank">
            <span class="hidden-link-text">facebook</span>
            <a class="fab fa-facebook-f col" target="_blank"
                  href="https://www.facebook.com/ahericare" rel="nofollow"></a>
          </a>
          <a class="footer-social-link instagram" href="#" target="_blank">
            <span class="hidden-link-text">Instagram</span>
            <a class="fab fa-instagram text-danger col" target="_blank" href="https://www.instagram.com/aheri_care/" rel="nofollow"></a>
          </a>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="footer-copyright-wrapper">
          <p class="footer-copyright-text">
            <a class="footer-copyright-link" href="#" target="_self">Powered by <a class="footer__links" href="https://www.instagram.com/joboytheeone/">The Alchemist</a> | ©2023 | All rights reserved. </a>
          </p>
        </div>
      </div>
    </footer>
  </div>