<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="./assets/Assets/nurse.webp" style="width:100%">
    <div class="background">
      <div class="para">
        <p class="pink">Aheri Care</p>
        <h4 class="magenta">Improving Lives Together</h4>
        <div class="flex">
          <p><a class="btn consult" routerLink="/contact">Book A Consultation</a></p>
          <p><a class="btn tell" href="tel:+254742964456">Call Us</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mySlides fade">
    <img src="./assets/Assets/slider2.jpeg" style="width:100%">
    <div class="background">
      <div class="para">
        <p class="pink">Aheri Care</p>
        <h4 class="magenta">Improving Lives Together</h4>
        <div class="flex">
          <p><a class="btn consult" routerLink="/contact">Book A Consultation</a></p>
          <p><a class="btn tell" href="tel:+254742964456">Call Us</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mySlides fade">
    <img src="./assets/Assets/slider4.jpeg" style="width:100%">
    <div class="background">
      <div class="para">
        <p class="pink">Aheri Care</p>
        <h4 class="magenta">Improving Lives Together</h4>
        <div class="flex">
          <p><a class="btn consult" routerLink="/contact">Book A Consultation</a></p>
          <p><a class="btn tell" href="tel:+254742964456">Call Us</a></p>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  <br>
  
  <div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
  </div>


  <div class="chooseus pt-5">
    <div class="three">
      <div class="four">
        <h5 class="will text-center">MORE EFFECTIVE TREATMENT</h5>
        <div class="icon text-center"><i class="fas fa-check-circle"></i></div>
        <p class="desc">There is continuity of care from hospital to home.Patient care is offered by trained and certified nurses who ensure drug compliance, adherence to doctor's appointment and regular procedures.The nurses are also able to identify any signs and symptoms and initiating prompt intervention.</p>
      </div>
      <div class="five">
        <h5 class="will text-center">FAST RECOVERY</h5>
        <div class="icon text-center"><i class="fas fa-heartbeat"></i></div>
        <p class="desc">With the continuity of quality care even at home the patient conditions tends to improve within a shorter a time. This is also enabled by the early identification and management of symptoms as they occur.</p>
      </div>
      <div class="six">
        <h5 class="will text-center">ZERO COMORBIDITIES</h5>
        <div class="icon text-center"><i class="fas fa-fist-raised"></i></div>
        <p class="desc">We strive to maintain emotional stability through the recovery process by offering regular counselling services to the patient and their families. Infection and prevention measures and early identification and management of arising symptoms.</p>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="left">
      <img src="https://img.freepik.com/premium-photo/support-trust-help-from-caregiver-nurse-walking-with-senior-man-patient-retirement-home-with-healthcare-insurance-hands-female-medical-worker-alzheimers-male-with-hospice-care_590464-85944.jpg?w=826" width="100%" height="100%" alt="">
    </div>
    <div class="right">
      <div class="eastt">
        <h4 class="miss">Our Mission</h4>
        <p class="mission">To inspire hope and contribute to health and well-being by providing exceptional care in an atmosphere of trust, safety and comfort.</p>
      </div>
      <div class="westt">
        <h4 class="viss">Our Vision</h4>
        <p class="vision">To be a premier centre of holistic care for wholesome wellness.</p>
      </div>
    </div>
  </div>

  <service-slider></service-slider>

  <div class="container-full counter">
    <div class="row">
      <div class="col-md-4" >
        <count-to [countTo]="2235" [countFrom]="0"></count-to>
        <h3 class="h3">Satisfied Clients</h3>
        <i class="fa fa-users"></i>
      </div> 
      <div class="col-md-4">
        <count-to [countTo]="45" [countFrom]="0"></count-to>
        <h3 class="h3">Our Team</h3>
        <i class="fa-solid fa-user-doctor"></i>
      </div>
      <div class="col-md-4">
        <count-to [countTo]="6" [countFrom]="0"></count-to>
        <h3 class="h3">Years of Service</h3>
        <i class="fa-solid fa-trophy"></i>
      </div>
    </div>
  </div>

  <products-slider></products-slider>

  <div class="service">
    <h1 class="text-center h2">Express Services</h1>
    <div class="direction">
      <div class="east">
        <ul>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Catheterization</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Wound Care Management</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Enema</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Flatus catheter insertion</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Naso-gastric tube insertion</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Stoma care</li>
        </ul>
      </div>
      <div class="west">
        <ul>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Nebulization</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Intravenous drug/fluid adminstration</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Ear Syringing/Irrigation</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Blood sample collection</li>
          <li class="li"><i class="fa-solid fa-hand-point-right"></i> Vital observation monitoring</li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="/services" class="btn seemore">Other Services</a>
    </div>
  </div>

  <blogs-slider></blogs-slider>

   <section class="rate-card">
    <div class="topper">
        <p class="reta">Aheri Care <span style="color: #811750;">Rate Card</span></p>
        <p class="reeta">We offer the best services at affordable rates; offering a value for your money.</p>      
    </div>
    <div class="rate">
      <div class="li">
        <p class="rate-name">Enrolled Community Nurse</p>
        <p class="rate-price">12hrs @2,000/= | 24hrs @3,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Kenya Registered Nurse</p>
        <p class="rate-price">12hrs @2,500/= | 24hrs @4,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Critical Care Nurse (ICU Nurse)</p>
        <p class="rate-price">12hrs @5,500/= | 24hrs @11,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Vital Observation Monitoring</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Drug Injection</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">IV Drug Infusion </p>
        <p class="rate-price">2,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Nebulization Per Session</p>
        <p class="rate-price">2,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Normal Wound Dressing- With Consumables</p>
        <p class="rate-price">3,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Normal Wound Dressing</p>
        <p class="rate-price">1,800/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Normal Colostomy- With Consumables</p>
        <p class="rate-price">3,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Normal Colostomy</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Cannular insertion</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Enema</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Catheterization</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Ambulance Services</p>
        <p class="rate-price">6,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Incision And Drainage</p>
        <p class="rate-price">2,500/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Family Planning (Jadelle insertion)</p>
        <p class="rate-price">5,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Nasogastric tube insertion</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Oxygen Concentrator 5L</p>
        <p class="rate-price">5L @1,800/= | 10L @2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">84,000 L Oxygen Cylinder for Hire per Day</p>
        <p class="rate-price">1,500/=</p>
      </div>
    </div>
   </section>