<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="./assets/Assets/nurse.webp" style="width:100%">
    <div class="background">
      <div class="para">
        <p class="pink">Aheri Care</p>
        <h4 class="magenta">Improving Lives Together</h4>
        <div class="flex">
          <p><a class="btn consult" routerLink="/contact">Book A Consultation</a></p>
          <p><a class="btn tell" href="tel:+254742964456">Call Us</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mySlides fade">
    <img src="./assets/Assets/slider2.jpeg" style="width:100%">
    <div class="background">
      <div class="para">
        <p class="pink">Aheri Care</p>
        <h4 class="magenta">Improving Lives Together</h4>
        <div class="flex">
          <p><a class="btn consult" routerLink="/contact">Book A Consultation</a></p>
          <p><a class="btn tell" href="tel:+254742964456">Call Us</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mySlides fade">
    <img src="./assets/Assets/slider4.jpeg" style="width:100%">
    <div class="background">
      <div class="para">
        <p class="pink">Aheri Care</p>
        <h4 class="magenta">Improving Lives Together</h4>
        <div class="flex">
          <p><a class="btn consult" routerLink="/contact">Book A Consultation</a></p>
          <p><a class="btn tell" href="tel:+254742964456">Call Us</a></p>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  <br>
  
  <div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
  </div>


  <div class="chooseus pt-5">
    <div class="three">
      <div class="four">
        <h5 class="will text-center">MORE EFFECTIVE TREATMENT</h5>
        <div class="icon text-center"><i class="fas fa-check-circle"></i></div>
        <p class="desc">There is continuity of care from hospital to home.Patient care is offered by trained and certified nurses who ensure drug compliance, adherence to doctor's appointment and regular procedures.The nurses are also able to identify any signs and symptoms and initiating prompt intervention.</p>
      </div>
      <div class="five">
        <h5 class="will text-center">FAST RECOVERY</h5>
        <div class="icon text-center"><i class="fas fa-heartbeat"></i></div>
        <p class="desc">With the continuity of quality care even at home the patient conditions tends to improve within a shorter a time. This is also enabled by the early identification and management of symptoms as they occur.</p>
      </div>
      <div class="six">
        <h5 class="will text-center">ZERO COMORBIDITIES</h5>
        <div class="icon text-center"><i class="fas fa-fist-raised"></i></div>
        <p class="desc">We strive to maintain emotional stability through the recovery process by offering regular counselling services to the patient and their families. Infection and prevention measures and early identification and management of arising symptoms.</p>
      </div>
    </div>
  </div>
  
  <div class="whychoose">
    <div class="eastt">
      <h4 class="miss">Our Mission</h4>
      <p class="mission">To inspire hope,and contribute to health and well-being by providing exceptional care in an atmosphere of trust, safety and comfort.</p>
    </div>
    <div class="westt">
      <h4 class="viss">Our Vision</h4>
      <p class="vision">To be a premier centre of holistic care for wholesome wellness.</p>
    </div>
  </div>

  <div class="about">
    <div class="left">
      <h1 class="text-center h1">What We Do....</h1>
      <p class="text-center bod">Aheri Care is the region's most trusted provider of community health services. We have a highly trained team of medical experts, advanced facilities, and an unwavering commitment to the welfare of our communities and patients.</p>
      <ul>
        <li class="lis"><i class="fa-solid text-black fa-angles-right"></i> We facilitate staffing solutions to institutions (i.e Patient Attendants, Nurses and Therapists)</li>
        <li class="lis"><i class="fa-solid text-black fa-angles-right"></i> We provide home based care services to elderly, terminally ill, sick or persons living with disabilities</li>
        <li class="lis"><i class="fa-solid text-black fa-angles-right"></i> We provide patient attendants to hospitalized patients for personalized care</li>
        <li class="lis"><i class="fa-solid text-black fa-angles-right"></i> Rehabilitational therapy. </li>
        <li class="lis"><i class="fa-solid text-black fa-angles-right"></i> Nutrition education and professional counselling services</li>
        <li class="lis"><i class="fa-solid text-black fa-angles-right"></i> Corporate consultancy services</li>
        <li class="lis"><i class="fa-solid text-black fa-angles-right"></i> Lease, rent of personal & medical equipment.</li>
      </ul>
    </div>
    <div class="right">
      <img src="https://images.pexels.com/photos/6097806/pexels-photo-6097806.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>
  </div>

  <div class="service">
    <h1 class="text-center h2">Express Services</h1>
    <div class="direction">
      <div class="east">
        <ul>
          <li><i class="fa-solid fa-hand-point-right"></i> Catheterization</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Wound Care Management</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Enema</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Flatus catheter insertion</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Naso-gastric tube insertion</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Stoma care</li>
        </ul>
      </div>
      <div class="west">
        <ul>
          <li><i class="fa-solid fa-hand-point-right"></i> Nebulization</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Intravenous drug/fluid adminstration</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Ear Syringing/Irrigation</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Blood sample collection</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Vital observation monitoring</li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="services" class="btn  seemore">Other Services</a>
    </div>
  </div>

  <div class="appointment">
    <div class="form">
      <h2 class="make-apoint">Make an Appointment now!</h2>
      <p>We provide the most full medical services, so every person could have the opportunity to receive qualitative medical help. Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics and bore advanced restorative dentistry. We are among the most qualified implant providers in the USA with over 35 years of quality training and experience.</p>
    </div>
    <div class="blogs">
      <h2 class="latest"><span>Recent</span> News & Blogs</h2>
      <div class="products">
        <div class="card1" *ngFor="let blog of latestBlogs">
          <div class="img">
            <a ><img class="product__items--img" src="{{ blog.image }}" alt=""></a>
          </div>
          <div class="details">
            <p  class="cat-name"><i class="fa-solid fa-calendar-days"></i> {{ blog.created_at}}</p>
            <a  class="product-name">{{ blog.heading }}</a> <br>
            <a  class="blogs-btn">Read More <i class='fas fa-angle-double-right'></i></a>
          </div>
        </div>
        <a  class="more-blogs btn">More News</a>
      </div>
    </div>
  </div>


   <!-- <section class="product">
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main">
          <div class="item" *ngFor="let service of homeServices">
              <a ><img class="product__items--img" src="{{ service.image }}" alt=""></a>
              <div class="details">
                <a  class="product-name">{{ service.name }}</a> <br>
                <a  class="btn blogs-btn">Read More <i class='fas fa-angle-double-right'></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>
   </section> -->

   <section class="rate-card">
    <div class="topper">
        <p class="reta">Aheri Care Rate Card</p>
        <p class="reeta">We offer best services at affordable rates; offering value for money.</p>      
    </div>
    <div class="rate">
      <div class="li">
        <p class="rate-name">Nurse Aid Care/Patient Attendant</p>
        <p class="rate-price">6hrs @1,000/= | 12hrs @1,700/= | 24hrs @3,300/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Wound Care</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Nurse Aid Care/Patient Attendant</p>
        <p class="rate-price">3,000/= per Session</p>
      </div>
      <div class="li">
        <p class="rate-name">Wound Care</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Nurse Aid Care/Patient Attendant</p>
        <p class="rate-price">6hrs @1,000/= | 12hrs @1,700/= | 24hrs @3,300/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Wound Care</p>
        <p class="rate-price">2,000/=</p>
      </div>
      <div class="li">
        <p class="rate-name">Nurse Aid Care/Patient Attendant</p>
        <p class="rate-price">3,000/= per Session</p>
      </div>
      <div class="li">
        <p class="rate-name">Wound Care</p>
        <p class="rate-price">2,000/=</p>
      </div>
    </div>
   </section>