  <h3 class="text-center medical">Aheri Care Services</h3>

  <section class="product-page">
    <div class="products">
        <div class="card"  *ngFor="let blog of service " >
            <div class="product__items ">
                <div class="product__items--thumbnail">
                    <a class="product__items--link" [routerLink]="['/service-details',blog.id]">
                        <img class="product__items--img product__primary--img" src="{{ blog.image }}" alt="product-img">
                        <img class="product__items--img product__secondary--img" src="{{ blog.image }}" alt="product-img">
                    </a>
                </div>
            </div>
            <div class="details">
                <a [routerLink]="['/service-details',blog.id]" class="product-name">{{ blog.name }}</a> <br>
                <a [routerLink]="['/service-details',blog.id]" class="btn blogs-btn">Read More <i class='fas fa-angle-double-right'></i></a>
            </div>
        </div> 
    </div>
</section>