<nav class="flex-no-wrap fixed top-0 flex w-full z-40 bg-[#c4c2bc] items-center justify-between py-2 px-8">
  <a href="/" class="text-2xl font-[900] no-underline text-white">
    <img class="h-[12vh] object-cover" src="../../../assets/Assets/aheri_logo.png" alt="">
  </a>

  <ul class="hidden md:flex space-x-10 font-medium">
    <li class="text-[#811750] font-[600] hover:text-white focus:text-white xl:text-[20px] md:text-[15px]">
      <a routerLinkActive="active" routerLink="/home">HOME</a>
    </li>
    <li class="text-[#811750] font-[600] hover:text-white focus:text-white xl:text-[20px] md:text-[15px]">
      <a routerLinkActive="active" routerLink="/home">ABOUT</a>
    </li>
    <li class="text-[#811750] font-[600] hover:text-white focus:text-white xl:text-[20px] md:text-[15px]">
      <a routerLinkActive="active" [routerLink]="['/shop']" >SHOP</a>
    </li>
    <li class="text-[#811750] font-[600] hover:text-white focus:text-white xl:text-[20px] md:text-[15px]">
      <a routerLinkActive="active" [routerLink]="['/services']" >SERVICES</a>
    </li>
    <li class="text-[#811750] font-[600] hover:text-white focus:text-white xl:text-[20px] md:text-[15px]">
      <a routerLinkActive="active" [routerLink]="['/blogs']" >BLOGS</a>
    </li>
    <li class="text-[#811750] font-[600] hover:text-white focus:text-white xl:text-[20px] md:text-[15px]">
      <a routerLinkActive="active" routerLink="/contact" >CONTACT US</a>
    </li>
  </ul>

  <button (click)="toggleMobileMenu()" class="md:hidden text-[20px] text-[#811750] focus:outline-none">
    <svg
      class="w-6 h-6"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </button>

  <div
    *ngIf="showMobileMenu"
    class="fixed bg-[#c4c2bc] top-0 left-0 w-full z-40 h-screen px-8 py-4 overflow-y-auto md:hidden"
  >
    <button (click)="toggleMobileMenu()" class="absolute top-4 right-4 text-[40px] text-[#811750]">
      &times;
    </button>
    <ul class="mt-8 space-y-4 text-lg font-medium">
      <li class="text-[#811750] hover:text-white focus:text-white text-[20px]">
        <a routerLinkActive="active" routerLink="/home">HOME</a>
      </li>
      <li class="text-[#811750] hover:text-white focus:text-white text-[20px]">
        <a routerLinkActive="active" routerLink="/home">ABOUT</a>
      </li>
      <li class="text-[#811750] hover:text-white focus:text-white text-[20px]">
        <a routerLinkActive="active" [routerLink]="['/shop']" >SHOP</a>
      </li>
      <li class="text-[#811750] hover:text-white focus:text-white text-[20px]">
        <a routerLinkActive="active" [routerLink]="['/services']" >SERVICES</a>
      </li>
      <li class="text-[#811750] hover:text-white focus:text-white text-[20px]">
        <a routerLinkActive="active" [routerLink]="['/blogs']" >BLOGS</a>
      </li>
      <li class="text-[#811750] hover:text-white focus:text-white text-[20px]">
        <a routerLinkActive="active" routerLink="/contact" >CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>