  .container-full{
    padding: 10px 40px;
    display: block;
  }

  .bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px!important;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .car {
    display: inline-block;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%);
  }

  .car:hover{
    transition: transform 2s cubic-bezier(.19,1,.22,1),opacity 2s cubic-bezier(.19,1,.22,1);
    transform: translateY(25px);
  }

  .one{
    width: 30%;
    margin: 0 20px;
  }

  a{
    text-decoration: none;
  }

  img{
    height: 30vh;
    width: 100%;
  }

  .topper{
    display: flex;
    margin: 20px 20px;
    padding: 0 40px;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%);
  }

  .left{
    float: left;
    width: 30%;
    display: block;
    padding: 20px 0;
  }

  .what{
    font-size: 20px;
    padding: 5px 0;
    text-transform: capitalize;
    color: #999999;
  }
  
  .reta{
    padding: 5px 0;
    font-size: 40px;
    font-weight: 700;
    color: #132540;
  }

  .right{
    float: bottom;
    text-align: right;
    width: 70%;
    padding: 40px 0;
  }
  
  .reeta{
    padding: 10px 20px;
    font-size: 20px;
    line-height: 150%;
    border: 2px solid #132540;
  }

  .reeta:hover{
    padding: 10px 20px;
    font-size: 20px;
    line-height: 150%;
    background-color: #132540;
    color: #fff;
  }

  .car-title{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #811750;
  }

  .readmore{
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
  }

  .btn-serve{
    padding: 5px 10px;
    text-transform: capitalize;
    border: 1px solid #ae6986;
    font-size: 15px;
    font-weight: 400;
    color: #811750;
  }

  .btn-serve:hover{
    padding: 5px 10px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background-color: #ae6986;
  }
 

  @media only screen and (max-width: 850px) {
    .topper{
      display: flex;
    }

    .left{
      width: 50%;
    }

    .right{
      width: 50%;
      text-align: center;
    }

    .bottom{
      display: block;
      margin: 20px 20px;
      padding: 20px 0;
    }

    .car{
      width: 100%;
      margin: 10px 0;
    }
  
    .reta{
      float: left;
      font-size: 25px;
      font-weight: 700;
    }
  
    .reeta{
      float: right;
      padding: 10px 20px;
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 500px) {
  
    .topper{
      display: block;
      box-shadow: none;
    }

    .left{
      width: 100%;
    }

    .right{
      width: 100%;
      text-align: center;
      padding: 0;
    }

    .bottom{
      display: block;
      margin: 10px 0;
      padding: 20px 0;
    }

    .one{
      width: 100%;
      margin: 0 0;
    }

    .car{
      width: 100%;
      margin: 10px 0;
    }
  
    .reta{
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      width: 100%;
    }

    .what{
      text-align: center;
      padding: 0;
    }
  
    .reeta{
      margin-bottom: 20px;
      text-align: center;
      padding: 5px 8px;
      font-size: 15px;
      width: 100%;
    }
  }
  