 <div class="container-full">
  <div class="topper">
    <div class="left">
      <p class="what">What we do</p>
      <p class="reta">Our Services</p>
    </div>
    <div class="right">
      <a routerLink="/services" class="btn reeta">MORE SERVICES <i class="fa-solid fa-angles-right"></i></a>
    </div>
  </div>
  <div class="bottom">
    <div class="car one" *ngFor="let service of homeServices">
      <a [routerLink]="['/services/service-details/',service.id]"><img class="car-img-top" src="{{service.image}}" alt="Car image cap"></a>
      <div class="car-body">
        <a [routerLink]="['/services/service-details/',service.id]"><p class="car-title">{{service.name}}</p></a>
        <div class="readmore">
          <p class="car-text">{{service.paragrapagh1}}</p>
        </div>
        <p class="text-center"><a class="btn btn-serve" [routerLink]="['/services/service-details/',service.id]" >read more <i class="fa-solid fa-angles-right"></i></a></p>
      </div>
    </div>
  </div>
 </div>