 <div class="block py-[10px] xl:px-[10px] md:px-[0px] px-[0px]">
  <div class="xl:flex md:flex block justify-between xl:m-[20px] md:my-[20px] my[20px] xl:px-[40px] md:px-[20px] px-[20px] shadow-md shadow-gray-200">
    <div class="block xl:py-[20px] md:py-[20px] py-[10px]">
      <p class="text-[20px] py-[5px] capitalize text-[#999999]">What we do</p>
      <p class="py-[5px] text-[40px] xl:font-[700] md:font-[700] font-[500] text-[#132540]">Our <span style="color: #811750;">Services</span></p>
    </div>
    <div class="xl:py-[20px] md:py-[20px] pb-[20px] flex items-center">
      <a routerLink="/services" class="btn py-[10px] px-[20px] text-[20px] border border-2 border-[#132540] hover:bg-[#132540] hover:text-[#fff]">ALL SERVICES <i class="fa-solid fa-angles-right"></i></a>
    </div>
  </div>
  <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[40px] xl:m-[20px] md:my-[20px] my[20px] xl:px-[0px] md:px-[20px] px-[20px] pb-[20px]">
    <div class="inline-block shadow-md shadow-[#00000019] my-[20px] bg-[#FFFFFF14] hover:bg-[#D1E270] transition duration-200 ease-in-out transform translate-y-25 hover:transform-translate-y-0 hover:opacity-100" *ngFor="let service of homeServices">
      <a class="no-underline" [routerLink]="['/services/service-details/',service.id]"><img class="h-[30vh] w-full object-cover" src="{{service.image}}" alt="Car image cap"></a>
      <div class="my-[20px]">
        <a class="no-underline" [routerLink]="['/services/service-details/',service.id]"><p class="text-center pt-[10px] text-[20px] font-[600] text-[#811750]">{{service.name}}</p></a>
        <div class="py-[10px] px-[20px] text-center text-[15px]">
          <p class="car-text">{{service.paragrapagh1}}</p>
        </div>
        <p class="text-center"><a class="btn py-[5px] px-[10px] capitalize text-[15px] font-[400] text-[#811750] border border-1 border-[#ae6986] hover:bg-[#ae6986] hover:text-[#fff]" [routerLink]="['/services/service-details/',service.id]" >read more <i class="fa-solid fa-angles-right"></i></a></p>
      </div>
    </div>
  </div>
 </div>