<div class="chooseus pt-5">
    <h1 class="text-center care">Why Choose Aheri Care?</h1>
    <div class="three">
      <div class="four">
        <h5 class="will text-center">MORE EFFECTIVE TREATMENT</h5>
        <div class="icon text-center"><i class="fas fa-check-circle"></i></div>
        <p class="desc">There is continuity of care from hospital to home.Patient care is offered by trained and certified nurses who ensure drug compliance, adherence to doctor's appointment and regular procedures.The nurses are also able to identify any signs and symptoms and initiating prompt intervention.</p>
      </div>
      <div class="five">
        <h5 class="will text-center">FAST RECOVERY</h5>
        <div class="icon text-center"><i class="fas fa-heartbeat"></i></div>
        <p class="desc">With the continuity of quality care even at home the patient conditions tends to improve within a shorter a time. This is also enabled by the early identification and management of symptoms as they occur.</p>
      </div>
      <div class="six">
        <h5 class="will text-center">ZERO COMORBIDITIES</h5>
        <div class="icon text-center"><i class="fas fa-fist-raised"></i></div>
        <p class="desc">We strive to maintain emotional stability through the recovery process by offering regular counselling services to the patient and their families. Infection and prevention measures and early identification and management of arising symptoms.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="whychoose">
    <div class="east">
      <h4 class="miss">Our Mission</h4>
      <p class="mission">To inspire hope,and contribute to health and well-being by providing exceptional care in an atmosphere of trust, safety and comfort.</p>
    </div>
    <div class="west">
      <h4 class="viss">Our Vision</h4>
      <p class="vision">To be a premier centre of holistic care for wholesome wellness.</p>
    </div>
  </div>
  <hr>
  <div class="about">
    <p class="pam text-center">Committed To You</p>
    <p class="text-center bod">Aheri Care is the region's most trusted provider of community health <br> services. We have a highly trained team of medical experts, advanced <br> facilities, and an unwavering commitment to the welfare of our <br> communities and patients.</p>
  </div>