/* about page  */

.about{
    margin-left: 20%;
    margin-right: 20%;
    /* margin-top: 3%;    */
    border-radius: 0px 20px;
    padding: 3%;
}
@media only screen and (max-width: 450px) {
    .about{
        margin-top: 15%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
        border-radius: 0px 50px;
    }
    .about .pam{
        font-size: xx-large;
        font-weight: 500;
    }
    .about .bod{
        font-size: large;
    }
}
.pam{
    font-size: xx-large;
    font-weight: 800;
    color: #811750;
}
.bod{
    font-size: larger;
    font-weight: 600;
    color: #132540;
}
.whychoose{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.whychoose .east {
  border: 1px solid #fff;
  box-shadow: -10px 10px #132540;
  background-color: #c4c2bc;
}
.whychoose .west{
  background-color: #132540;
  border: 1px solid #fff;
  box-shadow: 10px 10px #c4c2bc;
}
.miss{
  color: #811750;
  text-shadow: 2px 2px #fff;
  font-size: xx-large;
  font-weight: 600;
}
.viss{
  color: #811750;
  text-shadow: 2px 2px #DAEAF1;
  font-size: xx-large;
  font-weight: 600;
}

.mission{
  color: #132540;
  font-size: larger;
  font-weight: 400;
}
.vision{
  color: #fff;
  font-size: larger;
  font-weight: 400;
}
@media only screen and (max-width: 450px) {
  .whychoose{
    display: inline;
    margin-top: 2%;
  }
  .whychoose .east, .whychoose .west{
    padding: 10%;
  }
  .whychoose .east {
    border: 1px solid #fff;
    box-shadow: none;
    background-color: #c4c2bc;
  }
  .whychoose .west{
    background-color: #132540;
    border: 1px solid #fff;
    box-shadow: none;
  }
}
hr{
  box-shadow: 0px 5px #DAEAF1;
}
.care{
  color: #811750;
}
.three{
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
}
.will{
  color: #811750;
}
.four, .five, .six{
  background-color: #c4c2bc;
  padding: 2%;
  margin: 1%;
  border: 1px solid #fff;
  box-shadow: 10px 10px #fff;
  border-radius: 10px;
}
.desc{
  margin-top: 5%;
}
@media only screen and (max-width: 450px) {
  .care{
    color: #811750;
    font-size: x-large;
  }
  .three{
    display: inline;
    padding-top: 2%;
  }
  .four, .five, .six{
    background-color: #c4c2bc;
    padding: 5%;
    margin: 10%;
    border: 1px solid #fff;
    box-shadow: 10px 10px #fff;
    border-radius: 10px;
  }
  .will{
    color: #811750;
    margin-top: 5%;
  }
}
/* end of about  */