<div class="xl:mt-[10%] md:mt-[15%] mt-[30%] xl:mx-[30px] md:mx-[20px] mx-[20px]">
    <p class="text-center text-[#243A73] my-[10%] font-[800] xl:text-[40px] md:text-[40px] text-[20px]" *ngIf="catproducts">{{catproducts[0].category_name | uppercase}}</p>
    <div class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-[20px] my-[20px] p-0">
        <div class="inline-block bg-[#FFFFFF14] hover:bg-[#D1E270] transition duration-200 ease-in-out transform translate-y-25 hover:transform-translate-y-0 hover:opacity-100 shadow-md shadow-[#00000019]"  *ngFor="let product of catproducts;let i = index">
            <div class="product__items ">
                <div class="product__items--thumbnail">
                    <a class="no-underline" class="product__items--link" [routerLink]="['/shop/product-details/',product.id]">
                        <img class="h-[30vh] w-full object-cover" src="{{ product.image }}" alt="product-img">
                    </a>
                    <div class="absolute top-[12px] left-[12px]">
                        <span class="h-[3rem] p-[7px] font-[500] bg-[#ae6986] text-[#fff] text-[10px] rounded-t-lg rounded-b-lg">{{ getDiscountPercentage(i) }}% Offer</span>
                    </div>
                </div>
            </div>
            <div class="p-[20px]">
                <p class="text-[13px]">{{ product.category_name }}</p>
                <a class="no-underline" [routerLink]="['shop/product-details',product.id]" class="text-[18px] font-[800] text-[#811750]">{{ product.name | titlecase}}</a>
                <div class="flex gap-[20px] mt-[5%]">
                    <p class="mr-[10%] text-[15px]">Kes {{ product.new_price}}</p>
                    <span>-</span>
                    <p class="mr-[10%] text-[15px] line-through">Kes {{ product.old_price }}</p>
                </div>
                <a href=""  class="no-underline bg-[#bfd631] py-[3%] px-[6%] text-[#fff] text-[13px] font-[400] hover:bg-[transparent] hover:border hover:border-1 hover:border-[#811750] hover:text-[#811750] btn"><i class="fa-brands fa-whatsapp"></i> Buy Via Whatsapp</a>
            </div>
        </div>
    </div>
</div>