<div class="container-full">
    <header class="menu-header">
      <nav class="navbars">
        <a  class="nav-menu-logos" href="./index.html">AHERI CARE</a>
        <ul class="nav-menus">
            <li class="nav-item one">
              <a class="nav-link" href="./index.html">HOME</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" href="./service.html">SERVICES</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" href="./about.html">ABOUT US</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" href="./contact.html">CONTACT US</a>
            </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <header class="header">
      <nav class="navbars">
        <ul class="nav-menu">
          <li class="nav-item">
            <img  class="nav-link gogo" src="./Assets/aheri care.png" width="50%" height="50%" href="./index.html">
            </li>
            <li class="nav-item one">
              <a class="nav-link" href="./index.html">HOME</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" href="./service.html">SERVICES</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" href="./about.html">ABOUT</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" href="./contact.html">CONTACT</a>
            </li>
        </ul>
      </nav>
    </header>