<div class="container-full">
    <header class="menu-header">
      <nav class="navbars">
        <a  class="nav-menu-logos" routerLink="/">AHERI CARE</a>
        <ul class="nav-menus">
            <li class="nav-item one">
                <a class="nav-link active" routerLink="/" aria-current="page" >Home</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/services">SERVICES</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/about">ABOUT US</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/contact-us">CONTACT US</a>
            </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <header class="header">
      <nav class="navbars">
        <ul class="nav-menu">
          <li class="nav-item">
            <img  class="nav-link gogo" src="./Assets/aheri care.png" width="50%" height="50%" routerLink="/">
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" [routerLink]="['services']" routerLinkActive="active" ariaCurrentWhenActive="page">SERVICES</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">ABOUT</a>
            </li>
            <li class="nav-item one">
              <a class="nav-link" routerLink="contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">CONTACT</a>
            </li>
        </ul>
      </nav>
    </header>