<div class="py-4 xl:mx-8 md:mx-6 mx-4 block">
  <div class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-10 my-8 p-0">
    <div class="inline-block bg-[#FFFFFF14] hover:bg-[#D1E270] transition duration-200 ease-in-out transform hover:translate-y-0 hover:opacity-100 shadow-md shadow-[#00000019]" *ngFor="let prod of visibleProducts; let i = index">
      <a class="no-underline" [routerLink]="['/shop/product-details/',prod.id]">
        <img class="h-48 w-full object-cover" src="{{prod.image}}" alt="Product image">
      </a>
      <div class="absolute top-3 left-3">
        <span class="h-12 p-2 font-medium bg-[#ae6986] text-white text-xs rounded-t-lg rounded-b-lg">{{ getDiscountPercentage(i) }}% Offer</span>
      </div>
      <div class="p-5">
        <p class="text-xs"> {{prod.category_name | titlecase}}</p>
        <a class="no-underline" [routerLink]="['/shop/product-details/',prod.id]">
          <p class="text-lg font-bold text-[#811750]">{{prod.name | titlecase}}</p>
        </a>
        <div class="flex gap-5 mt-4">
          <p class="text-base">Kes {{ prod.new_price}}</p>
          <span>-</span>
          <p class="text-base line-through">Kes {{ prod.old_price }}</p>
        </div>
        <button (click)="openWhatsApp(i)" class="bg-[#bfd631] py-2 px-4 text-white text-sm font-medium hover:bg-transparent hover:border hover:border-1 hover:border-[#811750] hover:text-[#811750]">
          <i class="fa-brands fa-whatsapp"></i> Buy Via Whatsapp
        </button>
      </div>
    </div>
  </div>

  <div class="my-8 text-center">
    <a routerLink="/shop" class="btn py-2 px-4 text-sm text-[#811750] border border-2 border-[#811750] hover:bg-[#811750] hover:text-white">
      View more products <i class="fa-solid fa-angles-right"></i>
    </a>
  </div>
</div>
