.container {
    width:100%;
    padding-top: 3%;
    padding-bottom: 5%;
}
.medical{
    color: #243A73;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: xx-large;
    font-weight: 800;
}

.current__price {
    font-size: 20px;
    color: #606060;
}

.old__price {
    font-size: 20px;
    color: #606060;
    text-decoration: line-through;
}

.price__divided {
    width: 1.2rem;
    height: .1rem;
    color: #606060;
    vertical-align: middle;
    margin:0 1.2rem;
    font-size: xx-large;
}

.whatsapp{
    background-color: #25d366;
    padding: 3%;
    color: #fff;
    font-weight: 600;
}
.whatsapp:hover{
    border: 1px solid #25d366;
    background-color: transparent;
    padding: 3%;
    color: #25d366;
    font-weight: 600;
}
.back-shop{
    margin-left: 20%;
    background-color: #7C3E66;
    padding: 3%;
    color: #fff;
    font-weight: 600;
}
.back-shop:hover{
    border: 1px solid #7C3E66;
    margin-left: 20%;
    background-color: transparent;
    padding: 3%;
    color: #7C3E66;
    font-weight: 600;
}

@media only screen and (max-width:850px) {
    .medical{
        margin-top: 10% !important;
        margin-bottom: 5%;
    }
    .row{
        display: block !important;
        width: 100% !important;
        margin-left: 1% !important;
    }
    .product__details--info__title{
        margin-top: 5%;
        text-align: center;
        color: #7C3E66;
    }
    .product__details--info__price{
        text-align: center;
    }
    .current__price,.old__price{
        font-size: xx-large !important;
    }
    .product__details--info__desc{
        line-height: 200%;
        text-align: center;
    }
    .buttons{
        display: flex;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
    .whatsapp{
        font-size: large;
    }
    .back-shop{
        margin-left: 45% !important;
        font-size: large;
    }
}

@media only screen and (max-width:500px) {
    .medical{
        margin-top: 10% !important;
        margin-bottom: 5%;
    }
    .row{
        display: block !important;
    }
    .product__details--info__title{
        font-size: medium;
        text-align: center;
        color: #7C3E66;
    }
    .product__details--info__price{
        text-align: center;
    }

    .current__price,.old__price{
        font-size: medium !important;
    }
    .product__details--info__desc{
        line-height: 200%;
        text-align: center;
        font-size: medium !important;
    }
    .buttons{
        display: flex;
    }
    .whatsapp{
        font-size: x-small !important;
    }
    .back-shop{
        margin-left: 30% !important;
        font-size: x-small !important;
    }
}



@media screen and (max-width: 1200px) {
    .container {
      width: calc( 100% - 30px);
      max-width: 100%; 
    } 
}
@media screen and (min-width: 1024px) {
    .container {
      max-width: 1200px;
    } 
}

.row {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5)
}

.row>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-bottom: var(--bs-gutter-y)
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%
}

.row-cols-auto>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto
}

.row-cols-1>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%
}

.row-cols-2>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%
}

.row-cols-3>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%
}

.row-cols-4>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%
}

.row-cols-5>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%
}

.row-cols-6>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%
}

@media only screen and (min-width:576px) {
    .col-sm {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-sm-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-sm-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-sm-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-sm-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-sm-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-sm-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-sm-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (min-width:480px) {
    .row-cols-sm-u-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
}

@media only screen and (min-width:768px) {
    .col-md {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-md-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-md-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-md-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-md-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-md-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-md-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-md-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (min-width:992px) {
    .col-lg {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-lg-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-lg-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-lg-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-lg-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-lg-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-lg-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-lg-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (min-width:1200px) {
    .col-xl {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-xl-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-xl-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-xl-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-xl-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-xl-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-xl-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-xl-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (min-width:1600px) {
    .col-xxl {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-xxl-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-xxl-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-xxl-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-xxl-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-xxl-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-xxl-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-xxl-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (max-width:767px) {
    .row {
        margin-right: -10px;
        margin-left: -10px
    }
    .row>* {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media only screen and (max-width:479px) {
    .row {
        margin-right: -8px;
        margin-left: -8px
    }
    .row>* {
        padding-right: 8px;
        padding-left: 8px
    }
}

.row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

@media only screen and (max-width:991px) {
    .row-md-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

.product__details--media {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

@media only screen and (max-width:767px) {
    .product__details--media {
        margin-bottom: 5.7rem
    }
}

.product__media--preview__items--link .product__media--preview__items--img{
    max-width: 100%;
    max-height: 40rem;
    object-fit: cover;
}

.product__media--preview__items {
    position: relative
}

.product__media--preview__items--link {
    width: 100%;
    display: block
}

.product__media--preview__items--img {
    width: 100%;
    display: block
}

.product__media--view__icon--link{
    background: #ae6986;
}

.product__media--view__icon {
    position: absolute;
    top: 2rem;
    left: 2rem
}

.product__media--view__icon--link {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 4.5rem;
    text-align: center;
    background: #7C3E66;
    border-radius: 50%;
    color: #fff;
}

.product__media--view__icon--link:hover {
    background: #ae6986;
    color: #fff;
}

.product__media--view__icon.media__play {
    right: 2rem;
    left: auto
}

.product__media--nav {
    margin-top: 2rem
}

.product__media--nav__items {
    border: 1px solid var(--border-color2);
    padding: .5rem
}

.product__media--nav__items--img {
    width: 100%;
    display: block;
    cursor: pointer
}

.product__media--nav__items .product__media--nav__items--img{
    max-width: 100%;
    max-height: 9rem;
    object-fit: cover;
}

.swiper__nav--btn {
    width: 4rem;
    height: 4rem;
    background: #7C3E66;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

@media only screen and (max-width:767px) {
    .swiper__nav--btn {
        width: 3.5rem;
        height: 3.5rem
    }
}

.swiper__nav--btn:hover {
    background: #7C3E66
}

.swiper__nav--btn::after {
    background: url(../../assets/Assets/left-arrow-angle.png);
    width: 9px;
    height: 17px;
    font-size: 0
}

.swiper__nav--btn.swiper-button-prev {
    left: 0
}

.swiper__nav--btn.swiper-button-next {
    right: 0
}

.swiper__nav--btn.swiper-button-next::after {
    background: url(../../assets/Assets/right-arrow-angle.png);
}
.swiper:hover .swiper__nav--btn {
    opacity: 1;
    visibility: visible
}
.swiper__nav--btn.style3 {
    opacity: 1;
    visibility: visible;
    top: inherit
}

@media only screen and (min-width:768px) {
    .swiper__nav--btn.style3 {
        bottom: 25px;
        left: -116px
    }
}

@media only screen and (min-width:992px) {
    .swiper__nav--btn.style3 {
        bottom: 15%;
        left: -52%
    }
}

@media only screen and (min-width:1200px) {
    .swiper__nav--btn.style3 {
        bottom: 0
    }
}

@media only screen and (min-width:1366px) {
    .swiper__nav--btn.style3 {
        bottom: 10%;
        left: -51%
    }
}

@media only screen and (min-width:1600px) {
    .swiper__nav--btn.style3 {
        bottom: 25%
    }
}

@media only screen and (max-width:767px) {
    .swiper__nav--btn.style3 {
        display: none
    }
}

.swiper__nav--btn.style3.swiper-button-next {
    left: -46%
}

@media only screen and (min-width:768px) {
    .swiper__nav--btn.style3.swiper-button-next {
        left: -70px
    }
}

@media only screen and (min-width:992px) {
    .swiper__nav--btn.style3.swiper-button-next {
        left: -44%
    }
}

@media only screen and (min-width:1200px) {
    .swiper__nav--btn.style3.swiper-button-next {
        left: -45%
    }
}

@media only screen and (min-width:1600px) {
    .swiper__nav--btn.style3.swiper-button-next {
        left: -46%
    }
}


@media only screen and (min-width:768px) {
    .product__details--info {
        font-size: 1.6rem
    }
}

@media only screen and (min-width:992px) {
    .product__details--info__title {
        font-size: 1.8rem;
        color: #7C3E66;
    }
}

@media only screen and (min-width:992px) {
    .product__details--info__title.style2 {
        font-size: 1.5rem;
        color: #7C3E66;
    }
}

.product__details--info__price .current__price {
    font-size: 1.6rem
}

@media only screen and (min-width:992px) {
    .product__details--info__price .current__price {
        font-size: 2rem
    }
}

.product__details--info__price .old__price {
    font-size: 1.4rem;
    margin-left: .8rem
}

@media only screen and (min-width:992px) {
    .product__details--info__price .old__price {
        font-size: 1.8rem
    }
}

@media only screen and (min-width:992px) {
    .product__details--info__desc {
        font-size: 1.1rem;
        line-height: 2.2rem
    }
}

.product__details--info__meta--list {
    font-size: 1.5rem;
    margin-bottom: .8rem
}

.product__details--info__meta--list:last-child {
    margin-bottom: 0
}

