<div class="contact">
    <h1 class="us text-center">Contact Us</h1>
    <div class="flex">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.847991491857!2d36.80361351475376!3d-1.2636573990783169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17fba6d27d87%3A0x28c0d21b430dbacd!2sMayfair%20Maisonettes!5e0!3m2!1sen!2ske!4v1663427726208!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="contactForm">
        <h3 class="text-center" style="color: #132540; font-weight: 700;">Contact Form</h3>
        <div class="param">
          <form class="row g-3" #contactForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="col-md-12">
              <input name="fullName" class="form-control" id="inputEmail4" #fullName = "ngModel" [class.is-invalid]="fullName.invalid && fullName.touched" placeholder="Full Name" [(ngModel)] = "contactModel.fullName" required />
              <small class="text-danger" [class.d-none]="fullName.valid || fullName.untouched">Name is required!</small>
            </div>
            <div class="col-md-12">
              <input name="email" class="form-control" id="email" #email = "ngModel" [class.is-invalid]="email.invalid && email.touched" placeholder="Email" [(ngModel)] = "contactModel.email"  required/>
              <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required!</small>
            </div>
            <div class="col-md-12">
              <input name="phone" class="form-control" id="inputCity" #phone = "ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" placeholder="Phone Number" [(ngModel)] = "contactModel.phone"  required />
              <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                <small class="text-danger" *ngIf="phone.errors?.['required']">Phone Number is required!</small>
                <small class="text-danger" *ngIf="phone.errors?.['pattern']">Phone Number is must be 10 digits!</small>
              </div>
            </div>
            <div class="col-md-12">
              <input name="location" class="form-control" id="Location" placeholder="Location" [(ngModel)] = "contactModel.location"  />
            </div>
            <div class="col-md-12">
              <textarea id="txtid" #message = "ngModel" [class.is-invalid]="message.invalid && message.touched" class="form-control" name="message" placeholder="What do you want to tell us ...." rows="4" cols="50" maxlength="2000" [(ngModel)] = "contactModel.message"  required></textarea>
              <small class="text-danger" [class.d-none]="message.valid || message.untouched">Message is required!</small>
            </div>
            <div class="col-12 mt-3 text-center">
              <button name="submit" [disabled]="contactForm.form.invalid" class="btn submit text-center"  >Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>