/* start contact us */

@media only screen and (max-width: 500px) {
  .map{
    margin-right: 60% !important;
  }
    .contact .flex{
        display: inline;
    }
    .contact .flex .contactForm{
        margin-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .contact .flex .contactForm .param .row .form-control{
        margin-top: 5%;
    } 
}
@media only screen and (max-width: 850px) {
  .us{
    margin-top: 10% !important;
  }
  .contact .flex{
      display: inline;
  }
  .contact .flex .contactForm{
      margin-top: 5%;
      padding-left: 10%;
      padding-right: 10%;
  }
  .contact .flex .contactForm .param .row .form-control{
      margin-top: 5%;
  } 
  .form-control{
    height: 8vh;
  }
  .map{
    margin-left: 10% !important;
    width: 120% !important;
  }
}
.h3{
  color: #243A73; 
  font-size: larger;
  font-weight: 700;
}
.flex{
    display: flex;
}
  .contactForm{
    padding: 0 5rem;
  }
  .map{
    margin-top: 8%;
    margin-left: 3%;    
  }
  .param p{
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 20px;
    line-height: 1.5;
  }
  .form-control{
    margin-top: 3%;
    text-align: center;
    box-shadow: 0px 5px 5px #243A73;
    border-radius: 0px 10px;
  }
  .us{
    color: #7C3E66;
    margin-top: 2%;
    font-size: xx-large;
    font-weight: 600;
  }
  .submit{
    background-color: #7C3E66;
    color: #fff;
  }
  @media screen and (max-width: 1366px){
  .contactForm{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  }
  /* end contact us */