<div class="serv">
    <h4 class="head mt-4 h4 mb-4 text-center">Aheri care provides top-notch services in many different fields</h4>
    <div class="comm mt-5">
      <h1 class="text-center h5 mt-3 mb-3">Community Health Services</h1>
      <div class="pant">
        <div class="left">
          <img src="./assets/Assets/community.jpeg" alt="" width="100%">
        </div>
        <div class="right">
          <div class="text-center">
            <i class="fa-solid icon text-danger fa-truck-medical"></i>
          </div>
          <ul>
            <li>Medical Camps(Health Check-Ups)</li>
            <li>HIV Testing and Counselling</li>
            <li>Immunization Programs</li>
            <li>Deworming Programs</li>
            <li>Nutrition Counselling</li>
            <li>Doctor's Consultation</li>
            <li>Community Health Education</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="comm mt-5">
      <h1 class="text-center h5 mt-3 mb-3">Home Nursing Services</h1>
      <div class="pant">
        <div class="rig">
          <div class="text-center mb-4">
            <i class="fa-solid icon text-danger fa-stethoscope"></i>
          </div>
          <h1 class="text-center h5 mt-3 mb-3">Care Giver Services</h1>
          <p class="text-center prof">Home care services offered by certified nurses and nurses aids. Assisted living care for the elderly and disabled persons:</p>
          <ul>
            <li>Grooming needs</li>
            <li>Toileting</li>
            <li>Ambulation</li>
            <li>Medication reminders</li>
            <li>Companionship</li>
            <li>Pressure area care</li>
            <li>Feeding the patient</li>
            <li>Running errands for the patient</li>
            <li>Accompanying patient to the hospital</li>
          </ul>
        </div>

        <div class="lef">
          <img src="./assets/Assets/homecare.jpeg" class="mb-4" alt="" width="100%">
          <img src="./assets/Assets/nurse3.jpeg" class="none" alt="" width="100%">
        </div>
      </div>

      <div class="pant mt-5">
        <div class="rig">
          <div class="text-center mb-4">
            <i class="fa-solid icon text-danger fa-stethoscope"></i>
          </div>
          <h1 class="text-center h5 mt-3 mb-3">Skilled Nursing</h1>
          <p class="text-center prof">Professional Home Nursing Services offered by licenced Nurses:</p>
          <ul>
            <li>Injections</li>
            <li>Drug administration: Intravenous, intramuscular, subcutaneous injection and Per oral</li>
            <li>Wound care</li>
            <li>Suctioning</li>
            <li>Feeding through NG tube and the PEG</li>
            <li>Pressure area care</li>
            <li>Oxygen administration</li>
            <li>Vitals observation</li>
            <li>Assistance with ambulation</li>
            <li>Companionship</li>
          </ul>
        </div>
        <div class="lef">
          <img src="./assets/Assets/oldcare.jpeg" class="mb-4" alt="" width="100%">
          <img src="./assets/Assets/nurse2.jpeg" class="none" alt="" width="100%">
        </div>
      </div>
    </div>

    <div class="comm mt-5">
      <h1 class="text-center h5 mt-3 mb-3">Wound Care, Colostomy Care</h1>
      <div class="pant">
        <div class="left">
          <img src="./assets/Assets/wound.webp" alt="" width="100%">
        </div>

        <div class="right">
          <div class="text-center">
            <i class="fa-regular icon text-danger fa-hand-holding-medical"></i>
          </div>

          <ul>
            <li>Colostomy and Catheter care</li>
            <li>Trauma and Burn Wounds</li>
            <li>Post-surgical wound care</li>
            <li>Pressure Area Care and Sore dressing</li>
            <li>Regular wound cleaning and dressing</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="comm mt-5">
      <h1 class="text-center h5 mt-3 mb-3">Physiotherapy Services</h1>
      <div class="pant">
        <div class="rig">
          <div class="text-center">
            <i class="fa-solid icon text-danger fa-heart-circle-plus"></i>
          </div>

          <ul>
            <li>Musculoskeletal physiotherapy</li>
            <li>Neurological physiotherapy</li>
            <li>Paediatric physiotherapy</li>
            <li>Rehabilitation and Pain Management</li>
            <li>Sport physiotherapy</li>
          </ul>

        </div>

        <div class="lef">
          <img src="./assets/Assets/physio.webp" alt="" width="100%">
        </div>

      </div>
    </div>

    <div class="comm mt-5 mb-5">
      <h1 class="text-center h5 mt-3 mb-3">Nutrition Counselling</h1>
      <div class="pant">
        <div class="left">
          <img src="./assets/Assets/nutrition.webp" alt="" width="100%">
        </div>
        <div class="right">
          <div class="text-center">
            <i class="fa-sharp fa-solid icon text-danger fa-heart-circle-check"></i>
          </div>
          <ul>
            <li>Assisted Feeding</li>
            <li>Nasogastric Tube Feeding (NGT)</li>
            <li>Percutaneous endoscopic gastrostomy tube feeding</li>
            <li>Total Parenteral Feeding</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="comm mt-5 mb-3">
      <h1 class="text-center h5 mt-3 mb-3">Ambulance Services</h1>
      <div class="pant">
        <div class="rig amb" >
          <div class="text-center">
            <i class="fa-solid icon text-danger fa-heart-circle-plus"></i>
          </div>
          <p class="text-center ambulance">For swift and immediate patient transfers, we provide emergency and non-emergency transit. This enables early reach and access to advanced medical and hospital care. For patients in need of regular hospital visits; dialysis, chemotherapy we have a non-emergency option and they have are always accompained their home nurse to allow continuity of care.</p>
        </div>
        <div class="lef">
          <img src="./assets/Assets/ambulance.jpeg" alt="" width="100%">
        </div>
      </div>
    </div>
  </div>