<h3 class="text-center medical">Buy Medical Equipments</h3>

<section class="products">

<div id="product_grid" class="tab_pane active show">
    <div class="product__section--inner product__grid--inner">
        <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-2 mb--n30">
            <div class="col mb-30"  *ngFor="let product of product" style="  box-shadow: 5px 5px 5px 5px #aaa8a8; margin: auto; padding-bottom: 2%; padding-top: 2%;">
                <div class="product__items ">
                    <div class="product__items--thumbnail">
                        <a class="product__items--link" href="{{ product.get_url }}">
                            <img class="product__items--img product__primary--img" src="https://img.freepik.com/premium-photo/modern-house-exterior-with-empty-background-real-estate-concept_258219-332.jpg?w=740" alt="product-img">
                            <img class="product__items--img product__secondary--img" src="https://img.freepik.com/premium-photo/3d-rendering-modern-house_62754-1884.jpg?w=996" alt="product-img">
                        </a>
                        <div class="product__badge">
                            <span class="product__badge--items sale">Sale</span>
                        </div>
                    </div>
                    <div class="product__items--content">
                        <!-- <span class="product__items--content__subtitle" *ngIf="category" > </span>
                        <ng-template>
                            <a href="{{ category.get_url }}">{{ category.category }}</a>
                        </ng-template> -->

                        <span class="product__items--content__subtitle">{{ product.category }}</span>
                        
                        <h3 class="product__items--content__title h4"><a class="prod-details" href="{{ product.get_url }}">{{ product.name }}</a></h3>
                        <div class="product__items--price">
                            <span class="current__price">Ksh {{ product.new_price }}</span>
                            <span class="price__divided"></span>
                            <span class="old__price">Ksh {{ product.old_price }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

</section>
