<div class="slideshow-container">

    <div class="mySlides fade">
      <img src="./assets/Assets/nurse.webp" class="slideimg" >
      <div class="background">
        <div class="para">
          <p class="pink">Aheri Care</p>
          <h4 class="magenta">Improving Lives Together</h4>
          <a class="btn consult" routerLink="contact-us">Book A Consultation</a> <br>
          <p class="call">Or Call Us On</p> <br>
          <a class="tell" href="tel:+254742964456">+254742964456</a>
        </div>
      </div>
    </div>
    
    <div class="mySlides fade">
      <img src="./assets/Assets/slider2.jpeg" class="slideimg" >
      <div class="background">
        <div class="para">
          <p class="pink">Aheri Care</p>
          <h4 class="magenta">Improving Lives Together</h4>
          <a class="btn consult" routerLink="contact-us">Book A Consultation</a> <br>
          <p class="call">Or Call Us On</p> <br>
          <a class="tell" href="tel:+254742964456">+254742964456</a>
        </div>
      </div>
    </div>
    
    <div class="mySlides fade">
      <img src="./assets/Assets/slider4.jpeg" class="slideimg" >
      <div class="background">
        <div class="para">
          <p class="pink">Aheri Care</p>
          <h4 class="magenta">Improving Lives Together</h4>
          <a class="btn consult" routerLink="contact-us">Book A Consultation</a> <br>
          <p class="call">Or Call Us On</p> <br>
          <a class="tell" href="tel:+254742964456">+254742964456</a>
        </div>
      </div>
    </div>
  </div>

  <div class="what mt-1">
    <h1 class="text-center h2">What We Do....</h1>
    <div class="we">
      <ul>
        <li><i class="fa-solid text-danger fa-angles-right"></i> We facilitate staffing solutions to institutions (i.e Patient Attendants, Nurses and Therapists)</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> We provide home based care services to elderly, terminally ill, sick or persons living with disabilities</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> We provide patient attendants to hospitalized patients for personalized care</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> Rehabilitational therapy. </li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> Nutrition education and professional counselling services</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> Corporate consultancy services</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> Lease, rent of personal & medical equipment.</li>
      </ul>
    </div>
  </div>

  <div class="service">
    <h1 class="text-center h2">Express Services</h1>
    <div class="direction">
      <div class="east">
        <ul>
          <li><i class="fa-solid fa-hand-point-right"></i> Catheterization</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Wound Care Management</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Enema</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Flatus catheter insertion</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Naso-gastric tube insertion</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Stoma care</li>
        </ul>
      </div>
      <div class="west">
        <ul>
          <li><i class="fa-solid fa-hand-point-right"></i> Nebulization</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Intravenous drug/fluid adminstration</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Ear Syringing/Irrigation</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Blood sample collection</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Vital observation monitoring</li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="services" class="btn  seemore">Other Services</a>
    </div>
  </div>

  <div class="appointment">
    <div class="form">
      <h2 class="make-apoint">Make an Appointment now!</h2>
      <form class="row g-3" #contactForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="col-md-12">
          <input name="fullName" class="form-control" id="inputEmail4" #fullName = "ngModel" [class.is-invalid]="fullName.invalid && fullName.touched" placeholder="Full Name" [(ngModel)] = "contactModel.fullName" required />
          <small class="text-danger" [class.d-none]="fullName.valid || fullName.untouched">Name is required!</small>
        </div>
        <div class="col-md-12">
          <input name="email" class="form-control" id="email" #email = "ngModel" [class.is-invalid]="email.invalid && email.touched" placeholder="Email" [(ngModel)] = "contactModel.email"  required/>
          <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required!</small>
        </div>
        <div class="col-md-12">
          <input name="phone" class="form-control" id="inputCity" #phone = "ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" placeholder="Phone Number" [(ngModel)] = "contactModel.phone"  required />
          <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors?.['required']">Phone Number is required!</small>
            <small class="text-danger" *ngIf="phone.errors?.['pattern']">Phone Number is must be 10 digits!</small>
          </div>
        </div>
        <div class="col-md-12">
          <input name="location" class="form-control" id="Location" placeholder="Location" [(ngModel)] = "contactModel.location"  />
        </div>
        <div class="col-md-12">
          <textarea id="txtid" #message = "ngModel" [class.is-invalid]="message.invalid && message.touched" class="form-control" name="message" placeholder="What do you want to tell us ...." rows="4" cols="50" maxlength="2000" [(ngModel)] = "contactModel.message"  required></textarea>
          <small class="text-danger" [class.d-none]="message.valid || message.untouched">Message is required!</small>
        </div>
        <div class="col-12 mt-3 text-center">
          <button name="submit" [disabled]="contactForm.form.invalid" class="btn submit text-center"  >Submit</button>
        </div>
      </form>
    </div>
    <div class="blogs">
      <h2 class="latest">Latest News</h2>
      <div class="products">
        <div class="card1" *ngFor="let blog of latestBlogs">
          <div class="img">
            <a [routerLink]="['/blog-details',blog.id]"><img class="product__items--img" src="{{ blog.image }}" alt=""></a>
          </div>
          <div class="details">
            <p  class="cat-name"><i class="fa-solid fa-calendar-days"></i> {{ blog.created_at | date }}</p>
            <a [routerLink]="['/blog-details',blog.id]" class="product-name">{{ blog.heading }}</a> <br>
            <a [routerLink]="['/blog-details',blog.id]" class="btn blogs-btn">Read More <i class='fas fa-angle-double-right'></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials text-center">
    <h1>Testimonials</h1>
    <div class="wrapper">
      <div class="carousel owl-carousel">
         <div class="card card-1">
            <p class="quote">One of my brothers said hi and he likes how you've made sure Mum is ok.</p>
            <p class="text-right"> ~ Ann Eli </p>
         </div>
         <div class="card card-2">
          <p class="quote">I'm writing to express satisfactory and gratitude for the excellent services your team offered my mother for one year. The nurses you gave us demonstrated care and resilience and we are grateful for the opportunity we had to interact and work together.</p>
          <p class="text-right"> ~ John Njenga </p>
         </div>
         <div class="card card-3">
          <p class="quote">Excellent and top notch home nursing services.</p>
          <p class="text-right"> ~ Karuana Job </p>
         </div>
         <div class="card card-4">
          <p class="quote">Exceptional homecare services.</p>
          <p class="text-right"> ~ Job Wangai </p>
         </div>
         <div class="card card-5">
          <p class="quote">I contracted the services of Aheri Care in 2020. The caregiver was so reliable and punctual. She became like family to us. My mother-in-law experienced compassionate care at the end of her life. Well done Aheri Care!!!</p>
          <p class="text-right"> ~ Mercy Otieno </p>
         </div>

         <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
        </div>
      </div>
   </div>
  </div>