<div class="slideshow-container">

    <div class="mySlides fade">
      <img src="./Assets/nurse.webp" class="slideimg" >
      <div class="background">
        <div class="para">
          <p class="pink">Aheri Care</p>
          <h4 class="magenta">Improving Lives Together</h4>
          <a class="btn consult" href="./contact.html">Book A Consultation</a>
          <p class="call">Or Call Us On</p>
          <a class="tell" href="tel:+254742964456">+254742964456</a>
        </div>
      </div>
    </div>
    
    <div class="mySlides fade">
      <img src="./Assets/slider2.jpeg" class="slideimg" >
      <div class="background">
        <div class="para">
          <p class="pink">Aheri Care</p>
          <h4 class="magenta">Improving Lives Together</h4>
          <a class="btn consult" href="./contact.html">Book A Consultation</a>
          <p class="call">Or Call Us On</p>
          <a class="tell" href="tel:+254742964456">+254742964456</a>
        </div>
      </div>
    </div>
    
    <div class="mySlides fade">
      <img src="./Assets/slider4.jpeg" class="slideimg" >
      <div class="background">
        <div class="para">
          <p class="pink">Aheri Care</p>
          <h4 class="magenta">Improving Lives Together</h4>
          <a class="btn consult" href="./contact.html">Book A Consultation</a>
          <p class="call">Or Call Us On</p>
          <a class="tell" href="tel:+254742964456">+254742964456</a>
        </div>
      </div>
    </div>
  </div>

  <div class="what mt-1">
    <h1 class="text-center h2">What We Do....</h1>
    <div class="we">
      <ul>
        <li><i class="fa-solid text-danger fa-angles-right"></i> We facilitate staffing solutions to institutions (i.e Patient Attendants, Nurses and Therapists)</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> We provide home based care services to elderly, terminally ill, sick or persons living with disabilities</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> We provide patient attendants to hospitalized patients for personalized care</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> Rehabilitational therapy. </li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> Nutrition education and professional counselling services</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> Corporate consultancy services</li>
        <li><i class="fa-solid text-danger fa-angles-right"></i> Lease, rent of personal & medical equipment.</li>
      </ul>
    </div>
  </div>

  <div class="service">
    <h1 class="text-center vice">Express Services</h1>
    <div class="direction">
      <div class="east">
        <ul>
          <li><i class="fa-solid fa-hand-point-right"></i> Catheterization</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Wound Care Management</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Enema</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Flatus catheter insertion</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Naso-gastric tube insertion</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Stoma care</li>
        </ul>
      </div>
      <div class="west">
        <ul>
          <li><i class="fa-solid fa-hand-point-right"></i> Nebulization</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Intravenous drug/fluid adminstration</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Ear Syringing/Irrigation</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Blood sample collection</li>
          <li><i class="fa-solid fa-hand-point-right"></i> Vital observation monitoring</li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <a href="./service.html" class="btn  seemore">Other Services</a>
    </div>
  </div>

  <div class="testimonials text-center">
    <h1>Testimonials</h1>
    <div class="wrapper">
      <div class="carousel owl-carousel">
         <div class="card card-1">
            <p class="quote">One of my brothers said hi and he likes how you've made sure Mum is ok.</p>
            <p class="text-right"> ~ Ann Eli </p>
         </div>
         <div class="card card-2">
          <p class="quote">I'm writing to express satisfactory and gratitude for the excellent services your team offered my mother for one year. The nurses you gave us demonstrated care and resilience and we are grateful for the opportunity we had to interact and work together.</p>
          <p class="text-right"> ~ John Njenga </p>
         </div>
         <div class="card card-3">
          <p class="quote">Excellent and top notch home nursing services.</p>
          <p class="text-right"> ~ Karuana Job </p>
         </div>
         <div class="card card-4">
          <p class="quote">Exceptional homecare services.</p>
          <p class="text-right"> ~ Job Wangai </p>
         </div>
         <div class="card card-5">
          <p class="quote">I contracted the services of Aheri Care in 2020. The caregiver was so reliable and punctual. She became like family to us. My mother-in-law experienced compassionate care at the end of her life. Well done Aheri Care!!!</p>
          <p class="text-right"> ~ Mercy Otieno </p>
         </div>

         <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
        </div>
      </div>
   </div>
  </div>