<div class="container-full">
    <div class="topper">
      <div class="left">
        <p class="what">See what we blog about</p>
        <p class="reta">LATEST <span style="color: #811750;">NEWS & BLOGS</span></p>
      </div>
      <div class="right">
        <a routerLink="/blogs" class="btn reeta">MORE NEWS <i class="fa-solid fa-angles-right"></i></a>
      </div>
    </div>
    <div class="bottom">
      <div class="car one" *ngFor="let blog of latestBlogs">
        <a [routerLink]="['/blogs/blog-details/',blog.id]"><img class="car-img-top" src="{{blog.image}}" alt="Car image cap"></a>
        <div class="car-body">
          <a [routerLink]="['/blogs/blog-details/',blog.id]"><p class="car-title">{{blog.heading}}</p></a>
          <div class="readmore">
            <p class="car-text">{{blog.text}}</p>
          </div>
          <p class="text-center"><a  [routerLink]="['/blogs/blog-details/',blog.id]"  class="btn btn-serve" routerLink="">read more <i class="fa-solid fa-angles-right"></i></a></p>
        </div>
      </div>
    </div>
   </div>