<section class="xl:mt-[10%] md:mt-[15%] mt-[30%] xl:mx-[30px] md:mx-[20px] mx-[20px]">
    <p class="text-center text-[#243A73] mb-[3%] font-[800] xl:text-[40px] md:text-[40px] text-[30px]">Contact<span class="text-[#811750]"> Us </span></p>
    <div class="grid xl:grid-cols-2 md:grid-cols-2 grid-cols-1 mt-[5%]">
        <div>
            <div class="block">
                <p class="xl:text-[24px] md:text-[24px] text-[18px] font-[600]">Contact Details</p>
                <p class="xl:text-[18px] md:text-[18px] text-[14px] font-[400] text-[#999]">Please feel free to reach out with any concern.</p>
            </div>
            <div class="my-[5%]">
                <div class="block my-[3%]">
                    <i class="fas fa-mobile-alt text-[30px] text-[#02434b] my-[1%] text-center"></i>
                    <h4 class="text-[13px] text-[#811750] my-[3%]">PHONE: </h4>
                    <a class="text-[15px] my-[3%] font-[500] text-[#93971B] no-underline" href="tel:+254742964456 ">+254742964456</a>
                </div>
                <div class="block my-[3%]">
                    <i class="far fa-envelope text-[30px] text-[#02434b] my-[1%] text-center"></i>
                    <h4 class="text-[13px] text-[#811750] my-[3%]">EMAIL: </h4>
                    <a class="text-[15px] my-[3%] font-[500] text-[#93971B] no-underline" href="mailto:info@ahericare.com">info&#64;ahericare.com</a>
                </div>
            </div>
        </div>

        <div class="xl:w-[80%] md:w-[100%] sm:w-[100%] flex-col">
            <form class="xl:w-[100%] md:w-[100%] w-[100%]">
                <div class="relative my-8 z-0 w-full mb-5 group">
                    <input type="text" name="first_name" id="first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white-600 appearance-none dark:text-white dark:border-white-600 dark:focus:border-grey-500 focus:outline-none focus:ring-0 focus:border-grey-600 peer" placeholder=" " required />
                    <label for="first_name" class="peer-focus:font-medium absolute xl:text-[24px] md:text-[24px] text-[16px]  text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-[-5%] -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-white-600 peer-focus:dark:text-white-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First Name</label>
                </div>
                <div class="relative my-8 z-0 w-full mb-5 group">
                    <input type="text" name="last_name" id="last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white-600 appearance-none dark:text-white dark:border-white-600 dark:focus:border-grey-500 focus:outline-none focus:ring-0 focus:border-grey-600 peer" placeholder=" " required />
                    <label for="last_name" class="peer-focus:font-medium absolute xl:text-[24px] md:text-[24px] text-[16px]  text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-[-5%] -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-white-600 peer-focus:dark:text-white-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last Name</label>
                </div>
                <div class="relative my-8 z-0 w-full mb-5 group">
                    <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white-600 appearance-none dark:text-white dark:border-white-600 dark:focus:border-grey-500 focus:outline-none focus:ring-0 focus:border-grey-600 peer" placeholder=" " required />
                    <label for="floating_email" class="peer-focus:font-medium absolute xl:text-[24px] md:text-[24px] text-[16px]  text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-[-5%] -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white-600 peer-focus:dark:text-white-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
                </div>
                <div class="relative my-8 z-0 w-full mb-5 group">
                    <input type="tel" name="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white-600 appearance-none dark:text-white dark:border-white-600 dark:focus:border-grey-500 focus:outline-none focus:ring-0 focus:border-grey-600 peer" placeholder=" " required />
                    <label for="floating_phone" class="peer-focus:font-medium absolute xl:text-[24px] md:text-[24px] text-[16px]  text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-[-5%] -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-white-600 peer-focus:dark:text-white-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number (0712-345-687)</label>
                </div>
                <div class="relative my-8 z-0 w-full mb-5 group">
                    <textarea type="text" name="floating_message" id="floating_message" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-white-600 appearance-none dark:text-white dark:border-white-600 dark:focus:border-grey-500 focus:outline-none focus:ring-0 focus:border-grey-600 peer" placeholder=" " required></textarea>
                    <label for="floating_message" class="peer-focus:font-medium absolute xl:text-[24px] md:text-[24px] text-[16px]  text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-[-20%] -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-white-600 peer-focus:dark:text-white-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
                </div>
                
                <button onclick="whatsapp()" type="submit" class="my-8 p-[10px] rounded-[10px] text-[15px] text-[#fff] bg-[#811750]">SUBMIT</button>
            </form>
        </div>
    </div>
    <div class="my-[5%] grid grid-cols-1">
        <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31910.728953032325!2d36.789429054045954!3d-1.2681246180659567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f173c0a1f9de7%3A0xad2c84df1f7f2ec8!2sWestlands%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1728206385443!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>